<div class="container">
    <h2>Create New Event</h2>
    <form (ngSubmit)="onSubmit()" #eventForm="ngForm">
      <div class="form-group">
        <div class="form-group">
          <label for="imageFilename">Image</label>
          <input type="file" id="imageFilename" (change)="selectImage($event)" name="imageFilename" required>
        </div>
        <label for="name">Event Name</label>
        <input type="text" id="name" [(ngModel)]="event.name" name="name" required>
      </div>
      <div class="form-group">
        <label for="description">Description</label>
        <textarea id="description" [(ngModel)]="event.description" name="description" required></textarea>
      </div>
      <div class="form-group">
        <label for="startDate">Start Date</label>
        <input type="date" id="startDate" [(ngModel)]="event.startDate" name="startDate" required>
      </div>
      <div class="form-group">
        <label for="endDate">End Date</label>
        <input type="date" id="endDate" [(ngModel)]="event.endDate" name="endDate" required>
      </div>
      <div class="form-group">
        <label for="price">Price</label>
        <input type="number" id="price" [(ngModel)]="event.price" name="price" required>
      </div>
      <div class="form-group">
        <label for="nbParticipants">Number of Participants</label>
        <input type="number" id="nbParticipants" [(ngModel)]="event.nbParticipants" name="nbParticipants" min="0" required>
      </div>
      <div class="form-group">
        <label for="category">Category</label>
        <select id="category" [(ngModel)]="event.category" name="category" required>
          <option value="outdoor-adventures">Outdoor Adventures</option>
          <option value="sustainability-conservation">Sustainability and Conservation</option>
          <option value="education-awareness">Education and Awareness</option>
          <option value="community-wellbeing">Community and Well-being</option>
        </select>
      </div>
      <button type="submit">Submit</button>
    </form>
  </div>
  