<div class="modal-backdrop" (click)="closeModal()"></div>
<div class="modal-content">
  <h2>Update Admin</h2>
  <form (ngSubmit)="onUpdate()" #partnerForm="ngForm">
    <div class="form-group">
      <div class="form-group">
        <label for="imageFilename">Profile Picture</label>
        <input type="file" id="imageFilename" (change)="selectImage($event)" name="imageFilename" required>
      </div>
      <label for="email">Email</label>
      <input type="email" id="email" [(ngModel)]="admin.email" name="email" required>
    </div>
    <div class="form-group">
      <label for="firstName">First Name</label>
      <input type="text" id="firstName" [(ngModel)]="admin.firstName" name="firstName" required>
    </div>
    <div class="form-group">
      <label for="lastName">Last Name</label>
      <input type="text" id="lastName" [(ngModel)]="admin.lastName" name="lastName" required>
    </div>
    <div class="form-group">
      <label for="phoneNumber">Phone Number</label>
      <input type="tel" id="phoneNumber" [(ngModel)]="admin.phoneNumber" name="phoneNumber" required>
    </div>
    <button type="submit">Update</button>
    <button type="button" (click)="closeModal()">Cancel</button>
  </form>
</div>
