<div class="slider-area rbt-banner-5 height-750 bg_image bg_image--3" data-gradient-overlay="7">
	<div class="container">
		<div class="row">
			<div class="col-lg-12">
				<div class="inner text-center">
					<h1 class="title display-one">Adventure Awaits
					Explore, Rent, Enjoy!
					</h1>
					<p class="description">Green Quest makes it easy to find outdoor events and eco-friendly gear, ensuring you're ready for your next adventure.</p>
					<div class="rbt-button-group">
						<a class="rbt-btn btn-white hover-icon-reverse" href="#">
							<div class="icon-reverse-wrapper">
								<span class="btn-text">Start Exploring</span>
								<span class="btn-icon">
									<i class="feather-arrow-right"></i>
								</span>
								<span class="btn-icon">
									<i class="feather-arrow-right"></i>
								</span>
							</div>
						</a>
						<a class="rbt-btn btn-border hover-icon-reverse color-white" href="contact.html">
							<div class="icon-reverse-wrapper">
								<span class="btn-text">Contact Us</span>
								<span class="btn-icon">
									<i class="feather-arrow-right"></i>
								</span>
								<span class="btn-icon">
									<i class="feather-arrow-right"></i>
								</span>
							</div>
						</a>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>

