<div class="modal-backdrop" (click)="closeModal()"></div>
<div class="modal-content">
  <h2>Update Product</h2>
  <form (ngSubmit)="onUpdate()" #partnerForm="ngForm">
    <div class="form-group">
      <div class="form-group">
        <label for="imageFilename">Product Image</label>
        <img  src="{{fileUrl}}/uploads/{{product.imageFilename}}">
        <input type="file" id="imageFilename" (change)="selectImage($event)" name="imageFilename" required>
      </div>
      <label for="serviceName">Product Name</label>
      <input type="serviceName" id="serviceName" [(ngModel)]="product.serviceName" name="serviceName" required>
    </div>
    <div class="form-group">
      <label for="description">Event Description</label>
      <textarea id="description" [(ngModel)]="product.description" name="description" required></textarea>
    </div>
    <div class="form-group">
      <label for="startDate">Start Date</label>
      <input type="date" id="startDate" [(ngModel)]="product.startDate" name="startDate" required>
    </div>
    <div class="form-group">
      <label for="endDate">End Date</label>
      <input type="date" id="endDate" [(ngModel)]="product.endDate" name="endDate" required>
    </div>
    <div class="form-group">
      <label for="price">Price</label>
      <input type="text" id="price" [(ngModel)]="product.price" name="price" required>
    </div>
    <div class="form-group">
      <label for="available">Available</label>
      <input type="text" id="available" [(ngModel)]="product.available" name="available" required>
    </div>
    <button type="submit">Update</button>
    <button type="button" (click)="closeModal()">Cancel</button>
  </form>
</div>
