<div class="modal-backdrop" (click)="closeModal()"></div>
<div class="modal-content">
  <h2>Update Product</h2>
  <form (ngSubmit)="onUpdate()" #partnerForm="ngForm">
    <div class="form-group">
      <div class="form-group">
        <label for="imageFilename" class="print-size-image">Product Image</label>
        <img  src="{{fileUrl}}/uploads/{{product.imageFilename}}">
        <input type="file" id="imageFilename" (change)="selectImage($event)" name="imageFilename" required>
      </div>
      <label for="name">Product Name</label>
      <input type="name" id="name" [(ngModel)]="product.name" name="name" required>
    </div>
    <div class="form-group">
      <label for="description">Event Description</label>
      <textarea id="description" [(ngModel)]="product.description" name="description" required></textarea>
    </div>
    <div class="form-group">
      <label for="price">Price</label>
      <input type="text" id="price" [(ngModel)]="product.price" name="price" required>
    </div>
    <button type="submit">Update</button>
    <button type="button" (click)="closeModal()">Cancel</button>
  </form>
</div>
