{% extends 'base.html.twig' %}

{% block title %}New Complaints{% endblock %}

{% block body %}
    <h1>Create new Complaints</h1>

    {{ include('complaints/_form.html.twig') }}

    <a href="{{ path('app_complaints_index') }}">back to list</a>
{% endblock %}
